header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(14, 13, 13, 0.7);
}

#logo {
  margin-top: 10px;
  width: 200px;
  border: white;
}

nav {
  margin: 10px 0 5px 0;
}

a {
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
  color: white;
  padding: 0 10px;
  border-radius: 20px;
}

.active {
  background: rgba(231, 4, 4, 0.6);
}
